pug
doctype html
html
  head
    title= title
    script(src="app/public/javascripts/main.js")
  body
    h1= title
    ul#message-clear
      each message in messages
        li
          strong= message.user
          |  said: 
          |  #{message.text}
          |  on #{message.added ? message.added.toLocaleString() : new Date().toLocaleString()}
    form(action="/new", method="post")
      div
        label(for="messageUser") Name:
        input(type="text", id="messageUser", name="messageUser" required) 
      div
        label(for="messageText") Message:
        textarea(name="messageText" required)
      div
        button(type="submit") Submit
      div
        button(type="button"   onclick="clearMessagesAndForm()") Clear


